@model ServerSide.Models.ViewModels.MovieVm

@{
    ViewData["Title"] = "Edit";
}

<h1 class="fw-bolder">電影資料編輯</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="GenreId" class="form-label"></label>
                <select asp-for="GenreId" class="form-select">
                    <option value="">
                        請選擇分類
                    </option>
                    @foreach (var genres in ViewBag.GenresName)
                    {
                        <option value="@genres.Value">
                            @genres.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RatingId" class="form-label"></label>
                <select asp-for="RatingId" class="form-select">
                    <option value="">
                        請選擇分級
                    </option>
                    @foreach (var genres in ViewBag.RatingsName)
                    {
                        <option value="@genres.Value">
                            @genres.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="RatingId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Director" class="form-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cast" class="form-label"></label>
                <textarea asp-for="Cast" class="form-control"></textarea>
                <span asp-validation-for="Cast" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RunTime" class="form-label"></label>
                <input asp-for="RunTime" class="form-control" />
                <span asp-validation-for="RunTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ReleaseDate" class="form-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PosterUrl" class="form-label"></label>
                <input asp-for="PosterUrl" class="form-control" />
                <span asp-validation-for="PosterUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TrailerUrl" class="form-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <a asp-action="Index" class="btn btn-secondary me-4">回到電影清單</a>
                <input type="submit" value="保存變更" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
