
@{
    ViewBag.Title = "ActiveRegister";
}
<div class="container" style="margin-bottom: 200px; margin-top: 90px;">
    <h2 class="fw-bolder text-center">會員確認頁</h2>

    <div class="container">
        <div class="alert alert-success" role="alert">
            感謝您的註冊，您的會員資格已確認，您可以登入之後開始採購商品
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @if (ViewBag.ShowSweetAlert != null && ViewBag.ShowSweetAlert == true)
        {
            <script>
            $(function () {
                Swal.fire({
                    title: '帳號開通成功',
                    text: '您的帳號已成功開通，現在可以登入了。',
                    icon: 'success',
                    confirmButtonText: '前往登入'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Login", "Members")';
                    }
                })
            });
            </script>
        }
    }
