@{
    ViewBag.Title = "ConfirmForgotPassword";
}
<div class="container mt-5 " style="margin-bottom:200px">

    <h2 class="text-center fw-bolder">忘記密碼確認頁</h2>
    <div class="alert alert-success">
        我們已經寄送一封信件到您的信箱，請至您的信箱收取驗證信，並點擊信中的連結以完成密碼重設
    </div>
</div>


