
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h2 class="fw-bolder mt-2 text-center">會員中心</h2>
        <div class="btn-group mt-5" role="group" aria-label="Basic mixed style example">
            @*<a href="/Members/Index/" class="btn btn-sm btn-info me-2">會員中心首頁</a>*@
            <a href="#" class="btn btn-sm btn-success me-2">檢視訂票紀錄</a>
            <a href="/Members/EditProfile/" class="btn btn-sm btn-primary me-2">修改個人基本資料</a>
            <a href="/Members/ChangePassword/" class="btn btn-sm btn-danger ">修改密碼</a>
        </div>
    </div>
</div>
<script>
    @if (TempData["Message"] != null)
    {
        <text>
            alert('@TempData["Message"]');
        </text>
    }
</script>

