@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold text-primary">後台管理系統</h1>
    </div>

    <!-- Content Row -->
    <div class="row mt-5 align-item-center">
        <h2 class="text-center align-self-center h3 font-weight-bold text-primary mb-3">帳號管理</h2>
        <!-- 帳號管理 - 會員 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="~/Members/Index" class="text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    帳號管理
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">會員</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- 帳號管理 - 員工 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="~/Users/Index" class="text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    帳號管理
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">員工</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-id-card fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row mt-5">

        <h2 class="text-center align-self-center h3 mb-0 font-weight-bold text-info mb-3">放映管理</h2>
        <!-- 放映管理-影廳 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="~/Theaters/Index" class="text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    放映管理
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">影廳</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-film fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- 放映管理-場次 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="~/Screenings/Index" class="text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    放映管理
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">場次</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- 放映管理-票種 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="~/Tickets/Index" class="text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    放映管理
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">票種</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>