@model ServerSide.Models.ViewModels.CartVm

@{
    ViewData["Title"] = "新增購物車";
}

<div class="container-fluid">
    <h1 class="fw-bolder mb-3 mx-4">新增購物車</h1>
    <div class="card m-4">
        <div class="card-body">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="MemberAccount" class="form-label"></label>
                        <select asp-for="MemberId" class="custom-select" asp-items="ViewBag.MemberAccount">
                            <option value="">
                                請選擇會員
                            </option>
                        </select>
                        <span asp-validation-for="MemberId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="新增" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" class="btn btn-sm btn-secondary">回清單頁</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
