@model ClientSide.Models.ViewModels.CartVm

@{
    ViewBag.Title = "訂票夾";
}

<div style="display: flex; flex: 1;">

    <div style="flex: 1; padding: 20px;">
        @* 訂票夾標題 *@
        <h2 style="text-align: center; margin-bottom: 20px;" class="fw-bolder">訂票夾</h2>
        @{
            if (Model != null && Model.CartItems != null && Model.CartItems.Any())
            {
                foreach (var item in Model.CartItems)
                {
                    <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; display: flex; align-items: center;">
                        <div style="margin-right: 10px;">
                            <img src="~/MoviePosters/@item.ImgPath" alt="Movie Image" style="max-width: 100px; max-height: 100px;" />
                        </div>
                        <div style="flex: 1;">
                            <p><b>電影:</b> @item.MovieTitle</p>
                            <p><b>時間:</b> @item.MovieTime</p>
                        </div>
                        <div style="margin-left: 10px;">
                            <a href="~/CartItems/Detail/@item.Id" class="btn btn-sm btn-outline-primary">>進入票卷</a>
                        </div>
                    </div>
                    <div class="text-center " style="margin-top: 80px">
                        @*<a href="~/Carts/Checkout" class="btn btn-danger ">前往結帳</a>*@
                        <form action="~/Carts/Checkout" method="post" id="deleteUserForm">
                            <div class="mb-3">
                                @Html.AntiForgeryToken()
                                <input type="submit" value="前往結帳" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                }
            }
            else
            {
                <h1 style="text-align: center; margin-top: 100px;" class="" asp-action="Checkout">訂票夾是空的</h1>

            }
        }
    </div>
</div>
@if (ViewBag.ShouldReload != null && ViewBag.ShouldReload == true)
{
    <script>
        window.location.reload();
        window.location.reload();
    </script>
}