@model ClientSide.Models.ViewModels.MovieIndexListVm

@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/MovieMainPageCss.css" />
}

<div id="app" class="mb-5">
    <!--最新電影輪播 Start-->
    <div class="carousel-container">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item"
                     :key="Id"
                     v-for="(movie,Id) in movies"
                     v-bind:class="{active:Id===0}">
                    <img v-bind:src="movie.PosterURL" class="d-block w-100" v-bind:alt="movie.Title">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ movie.Title }}</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!--最新電影輪播 End-->
    <!--最多人觀看 Start-->
    <div class="container mt-5">
        <p class="fw-bolder my-5 pTitle mb-3">最多人觀看</p>
    </div>
    <div class="container mvblock position-relative mb-5">
        <button class="scroll-btn btn-left" v-on:click="scrollLeft('mostViewed')"><</button>
        <div class="movie-card-container" ref="mostViewedCardRow">
            <div class="card-item" v-for="(movie, Id) in mostViewedMovies" :key="Id">
                <div class="movie-card"
                     style="cursor: pointer;" 
                     v-on:click="viewMovie(movie)">
                    <div class="image-container">
                        <img v-bind:src="movie.PosterURL" v-bind:alt="movie.Title">
                    </div>
                    <div class="content">
                        <h3 class="title">{{ movie.Title }}</h3>
                        <p class="release-date">上映日 : {{ movie.ReleaseDate }}</p>
                        <!-- <button class="btn-book">訂票</button> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="scroll-btn btn-right" v-on:click="scrollRight('mostViewed')">></button>
    </div>
    <!--最多人觀看 End-->
    <!--最多評論電影 Start-->
    <div class="container mt-5">
        <p class="fw-bolder my-5 pTitle mb-3">最多評論電影</p>
    </div>
    <div class="container mvblock position-relative mb-5">
        <button class="scroll-btn btn-left" v-on:click="scrollLeft('mostCommented')"><</button>
        <div class="movie-card-container" ref="mostCommentedCardRow">
            <div class="card-item" v-for="(movie, Id) in mostCommentedMovies" :key="Id">
                <div class="movie-card"
                     style="cursor: pointer;" 
                     v-on:click="viewMovie(movie)">
                    <div class="image-container">
                        <img v-bind:src="movie.PosterURL" v-bind:alt="movie.Title">
                    </div>
                    <div class="content">
                        <h3 class="title">{{ movie.Title }}</h3>
                        <p class="release-date">上映日 : {{ movie.ReleaseDate }}</p>
                        <!-- <button class="btn-book">訂票</button> -->
                    </div>
                </div>
            </div>
        </div>
        <button class="scroll-btn btn-right" v-on:click="scrollRight('mostCommented')">></button>
    </div>
    <!--最多評論電影 End-->

</div>

@section Scripts {
    <script>
        window.moviesData = @Html.Raw(Json.Encode(Model.LatestMovies));
        window.mostReviewedMoviesData = @Html.Raw(Json.Encode(Model.MostReviewedMovies));
        window.upcomingMoviesData = @Html.Raw(Json.Encode(Model.UpcomingMovies));
    </script>
    <script src="~/Scripts/MovieMainPageJS.js"></script>
}